{% macro tiles(pages, modulus=0, columns=3) %}
    {% for page in pages %}
        {% set modified = loop.index - modulus - 1 %}
        {% if modified is divisibleby(columns) %}
            <a href="{{ page.permalink }}" class="box section-tile">
                <span class="tag marker is-dark is-pulled-right">Visited</span>
                <h1 class="title">{{ page.title }}</h1>
                {% if page.description %}
                <h3 class="subtitle">{{ page.description }}</h3>
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
{% endmacro input %}