{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block title %}404 | {{ config.title}}{% endblock %}

{% block content %}

{{ macros::nav(current_path = "404.html", brand = config.title) }}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title is-1">Hmmm... there's no page here</h1>
        <h2 class="subtitle is-3">404 error</h2>
        <div class="content">
            <p>It looks like you took a wrong turn somehow. If you want to continue exploring where you were, feel free to use your browser's back button. Otherwise, try one of the pages in the navigation bar.</p>
            <p>If you reached this page after clicking a link on this site, please shoot me an email at <a href="mailto:c@cgm616.me">c@cgm616.me</a> to let me know.</p>
        </div>
    </div>
</section>

{% endblock content %}



{% block audio %}

{{ macros::audio() }}

{% endblock audio %}