<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{{ config.description }}">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💬</text></svg>">

    <link rel="stylesheet" href="{{ get_url(path="css/bulma.min.css", trailing_slash=false) | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="css/main.css", trailing_slash=false) | safe }}">
</head>

<body>

    <div id="root">

    {% block content %}

    <section class="hero is-fullheight">
        <div class="hero-head"></div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ config.title }}</h1>
                <h3 class="subtitle">by Cole Graber-Mitchell</h3>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered">
                <div class="scroll-prompt">
                    <p>Scroll down</p>
                    <p>▼</p>
                    <br />
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-large">
        <div class="hero-body">

        </div>
    </section>

    <section class="section">
        <div class="container is-max-desktop">
            <h1 class="title is-2" id="index-beginning">{{ section.title }}</h1>
            {% if section.description %}
            <p class="subtitle is-4">{{ section.description }}</p>
            {% endif %}
            <div class="content">
                {{ section.content | safe }}
            </div>
        </div>
    </section>

    <section class="hero is-large">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title"><a href="{{ get_url(path="sections", trailing_slash=true) | safe }}" id="entrance">Explore the project ➞</a></h1>
            </div>
        </div>
    </section>

    <section class="hero is-medium">
        <div class="hero-body">
        </div>
    </section>

    {% endblock content %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            <strong>{{ config.title }}</strong> by Cole Graber-Mitchell. Copyright 2020 to {{ now() | date(format="%Y") }}.
            </p>
            <p>Made for <em>Model Minorities</em>, an Amherst College course taught by <a href="https://www.amherst.edu/people/facstaff/wbergoffen">Professor Wendy Bergoffen</a> and <a href="https://www.amherst.edu/people/facstaff/fodo">Professor Franklin Odo.</a></p>
        </div>
    </footer>
    
    </div>

    {% block audio %}

    {% endblock audio %}

    <script type="text/javascript" src="{{ get_url(path="js/bundle.js", trailing_slash=false) | safe }}"></script>

</body>
</html>