{% import "macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ config.title}}{% endblock %}

{% block content %}

{{ macros::nav(current_path = current_path, brand = config.title) }}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title is-1">
            {% block hero_title %}{{ section.title }}{% endblock hero_title %}
        </h1>

        {% block hero_subtitle %}
            {% if section.description %}
                <h2 class="subtitle is-3">
                    {{ section.description }}
                </h2>
            {% endif %}
        {% endblock hero_subtitle %}
        <div class="content">
            {% block inner %}

            {{ section.content | safe }}

            {% endblock inner %}
        </div>

        {% set sections_list = get_section(path="sections/_index.md") %}
        {% if current_path == sections_list.path %} 
        <div class="columns">
            <div class="column">
                {{ macros::tiles(pages = sections_list.pages, modulus=0, columns=3) }}
            </div>
            <div class="column">
                {{ macros::tiles(pages = sections_list.pages, modulus=1, columns=3) }}
            </div>
            <div class="column">
                {{ macros::tiles(pages = sections_list.pages, modulus=2, columns=3) }}
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}



{% block audio %}

{{ macros::audio() }}

{% endblock audio %}